page-login {
   
    .item.item-input {
        background-color: #f4f4f417 ;
        
    }
    .fondo{
        background: #004959;
    
    .logo-row {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .logo{
       
       max-height: 150px;
       max-width: 150px;
      
    }

    }
    

}
